/* Write some CSS below */
header {
  background-color:white;
  color:white;
  padding: 20px;
  align-items: center;
}

h1 { 
	color: #EDE7E3;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;;
	text-align: center;
}
p{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
h2{
	text-align: center;
	font-family: 'Ubuntu',sans-serif;
	color: white;
}

}
h3{
	text-align: left;
	font-family: 'Ubuntu',sans-serif;
	color: black;
}



body{
	background-color: ;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(images/aerro.jpg);
}

p {text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #2E294E;}

a {text-align: center;
}

a:hover {
	color: blue;
}

div {
	border: 1px solid #82C0CC;
	border-radius: 10px;
	padding: 40px;
	margin:0;
	background-color:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ;
}



  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  box-align: center;
  text-align: center;
}

.parking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin: 0 20px;
  padding: 20px;
  background-color: white;
}

.parking-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  font-family: "Ubuntu";
}
